@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Tinos", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  filter: invert(1) grayscale;
  -webkit-filter: invert(1) grayscale(1);
  mix-blend-mode: difference;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

/* .swiper-pagination {
  position: inherit !important;
} */

@keyframes shimmer {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  70% {
    color: rgba(0, 0, 0, 1);
  }
  100% {
    color: rgba(0, 0, 0, 0.25);
  }
}
.text-cloud {
  animation-name: shimmer;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}
